<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <li class="navbar-brand">
          <LinkTo @route="index">Library App</LinkTo>
        </li>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
          <li><LinkTo @route="index"><a href="">Home</a></LinkTo></li>
          <li><LinkTo @route="about"><a href="">About</a></LinkTo></li>
        </ul>
      </div>
    </div>
  </nav>

  {{outlet}}
</div>